#barra{
    background-color: #00162b;
}
    /* HIDE RADIO */
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        }
    
        /* IMAGE STYLES */
        [type=radio] + img {
        cursor: pointer;
        }
    
        /* CHECKED STYLES */
        [type=radio]:checked + img {
        outline: 2px solid #00162b;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
        #Enviar{
            box-align: center;
            background-color: #00162b;
            color: white;
            border-color: #ffb414;
            border-radius: 4cm;
            border-width: 3px;
        }
        #navbar{
            width:60%;
            margin-left: 760px;   
        }
        input:invalid {
            border-color: red;
        }
        input,
        input:valid {
            border-color: #ccc;
        }
        #divCodigo {
            border-color: 00162b;
            border-width: 3px;
            border-style: solid;
            padding: 10px;
        }
        #LogoDuoc{
            width: fit-content;
            height: fit-content;
        }
        #divLogin {
            border-color: 00162b;
            border-width: 3px;
            border-style: solid;
            padding: 10px;
        }
        #Comentario{
            width: 299px; 
            height: 150px;
        }
        #SelectPregunta{
            width: 200px;
            text-overflow: ellipsis;
        }